.counter {
  padding: 30px;
  border: 1px solid black;
  border-radius: 6px;
  width: auto;
  /* max-width: 130px; */
  margin-bottom: 30px;
  margin: 10px;
  box-shadow: burlywood;
}

.counter-content {
  display: flex;
  flex-flow: wrap;
}
